/**
 * @name PowderLinux v2
 * @author PowderLinux
 * @version 2.0.0
 * @description A customized version of DarkMatter theme
 * @source https://github.com/PowderLinux
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://raw.githubusercontent.com/PowderLinux/Web-Resources/main/Images/Backgrounds/debian-blue-swirl.jpg');
    --home-image: url('https://raw.githubusercontent.com/PowderLinux/Web-Resources/main/Images/Misc/discord-logo.svg');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
